* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: serif;
  /* serif, lucida*/
}

.home,
.satanism,
.etymology,
.contact {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.satanism {
  background-image: url("./assets/img-13.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.etymology {
  background-image: url('./assets/img-16.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  background-image: url('./assets/img-27.jpg');
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@media only screen and (max-width: 1024px) {
  .etymology {
      padding-top: 200px;
    /* width: 84%; */
  }
}

/* @media only screen and (min-width: 768px) {
  .etymology {
      padding-top: 500px;
  }
} */

